.social-links-items-footer {
    display: flex;
    width: 44px;
    color: var(--color-white);
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-func);

}

.social-links-items-footer:hover,
.social-links-items-footer:focus {
    background-color: var(--accent-text-color);
}

.footer-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
}

.social-links-list {
    display: flex;
    width: 206px;
    gap: 10px;
}

.footer-links {
    display: flex;
    align-items: baseline;
}

.social-links-footer {
    margin-left: 70px;
}

address {
    margin-top: 20px;
}

.links-address li:not(:last-child) {
    margin-bottom: 9px;
}

.links-address a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    transition: color var(--transition-dur-func);
}

footer {
    background-color: var(--bgcolor-black);
    padding: 60px 0;
}

.links-address a:hover,
.links-address a:focus {
    color: var(--accent-text-color);
}

.logo-studio-footer {
    color: var(--color-white);
}

.social-list-icons-footer {
    fill: currentColor;
}